<%= simple_form_for @form do |f| %>
  <div class="tekst">
    <h4>Opis</h4>
    <%= f.input :opis, input_html: {rows: 10, cols: 48}, error: 'Brak opisu lub opis zbyt krótki.', class: "my-custom-class", label:false %><br />
    <div class="lista">
      <h4>Kategoria</h4>
        <%= f.input :kategoria, collection: ['awaria', 'uszkodzenie', 'usterka'], error: 'Wybierz kategorię', prompt: "Kategoria", label:false %><br />
      </div>
    <h4>Email</h4>
    <%= f.input :email, placeholder: 'exampleuser@domain.com', error: 'Niewłaściwy email.', label:false %><br />
    <%= f.button :submit, "Zatwierdź", class: "przycisk" %>
  </div>
<% end %>


